<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'recipes')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1 th:text="'List of Ciefs'"></h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Level</th>
        <th>Known Recipes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${chiefsWithDetails}">
        <td th:text="${entry.key.id}">Chief Name</td>
        <td th:text="${entry.key.name}">Chief Name</td>
        <td th:text="${entry.key.chiefLevel}">Chief Level</td>
        <td th:utext="${entry.value}">Known Recipes</td>
    </tr>
    </tbody>
</table>
</body>
</html>