<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'recipes')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1 th:text="'List of Recipes'"></h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Recipe Name</th>
        <th>Ingredients</th>
        <th>Kitchenware</th>
        <th>Instructions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${recipesWithDetails}">
        <td th:text="${entry.key.id}">Recipe Name</td>
        <td th:text="${entry.key.name}">Recipe Name</td>
        <td th:utext="${entry.value.ingredients}">Ingredients</td>
        <td th:utext="${entry.value.kitchenWare}">Kitchenware</td>
        <td th:utext="${entry.key.instructions != null ?
          #strings.listJoin(entry.key.instructions.values().stream().toList(), '<br/>') : 'No instructions'}">
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>

