<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'stocks')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <link rel="stylesheet" href="/css/styles.css">
<body>
<h1 th:text="'List of Stocks'"></h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Stock Date</th>
        <th>Ingredients</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stock : ${stockList}">
        <td th:text="${stock.Id}"></td>
        <td th:text="${stock.stockDate}"></td>
        <td th:utext="${stock.ingredients}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>